<nav class="my-4">
  <a href="/" class="text-muted">← Table of contents</a>
</nav>

<header class="my-4">
  <h1 class="h3"><a href="<%= page_path %>"><%= title %></a></h1>
</header>

<main class="my-4">
  <%= content %>
</main>
