<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="0; url='<%= page.public_path %>'" />
  </head>
  <body>
    <p>Redirecting to <a href="<%= page.public_path %>"><%= page.public_path %></a>...</p>
  </body>
</html>
